In [2]:
import pandas as pd

#Series 만들기
pd.Series ([10,20,30,40])

0    10
1    20
2    30
3    40
dtype: int64

In [2]:
s1=pd.Series([10,20,30,40])
type(s1)

pandas.core.series.Series

In [3]:
# Series 만들 때 이름 지정도 가능

pd.Series([10,20,30,40], name="Sample")

0    10
1    20
2    30
3    40
Name: Sample, dtype: int64

In [3]:
# DataFrame 만드는 방법 
# 1번 - list로 만들기

sample_data = [
    ['가나다', 12, 34],
    ['라마바', 56, 78],
    ['사아자', 90, 12]
]

pd.DataFrame(sample_data)

     0   1   2
0  가나다  12  34
1  라마바  56  78
2  사아자  90  12